{% extends 'base.html' %}

{% block style %}

<style>
    #chips{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    </style>

{% endblock style %}

{% block body %}

<div class="flex flex-wrap justify-center space-x-2" id="chips">
    {% if user.is_superuser %}<a href="/create_cat" id="btn" class="btn btn-primary">Create a Category</a> {%endif%}
    {%for cat in subcat %}
    <form action="/Category/" method="get">
    <input type="hidden" value="{{cat.name}}" name="cat">
    <button type="submit" id="btn">
<span id="btn1"
      class="px-4 py-2 rounded-full text-gray-500 bg-gray-200 font-semibold text-sm flex align-center w-max cursor-pointer active:bg-gray-300 transition duration-300 ease">
      {{cat.name}}
    </span>
</a>
</form>
{%endfor%}
</div>      

<div class="container"><h5>{{ desc }}</h5></div>
{% comment %} <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script> {% endcomment %}
{% endblock body %}
