{% extends 'base.html' %}
{% block style %}
<style>

</style>
{% endblock style %}
{% block body %}
{% load humanize %}
<div class="container w-75 my-4">
      <div class="media">
            {% comment %} {% if data.author.profile.image %}
            <img class="mr-3 rounded-circle" src="{{post.author.profile.image.url}}" width="50px" height="50px"
            alt="image">
            {% endif %} {% endcomment %}
            <div class="media-body">
                  <h5 class="mt-0">by <u>{{data.author}}</u>
                        {% if user.is_authenticated %}
                        {% if user.id == data.author.id %}
                        {% if user.is_superuser %} <small><a href="/delete_blog_post/{{data.slug}}" style="float:right;"class="btn btn-danger"><i class="fa fa-trash"></i></a></small>
                        {% elif user.id == data.author.id %}
                        <small>
                              <a href="/delete_blog_post/{{data.slug}}" style="float:right; margin: 5px;"class="btn btn-danger"><i class="fa fa-trash"></i></a>
                        </small>
                        {% endif %}
                        <small><a href="/edit_blog_post/{{data.slug}}/"  style="float:right; margin: 5px;" class="edit btn btn-warning">Edit Blog Post</a></small>
                        {% endif %}
                        {% endif %}
                        <small>
                              <button class ="btn btn-secondary"  style="float:right; margin: 5px;"  data-toggle="modal" data-target="#exampleModal">
                                    <i class="fas fa-share"></i>
                                  </button>
                        </small>
                </h5>
                
                  {{data.upload_date | naturalday}}
            </div>
      </div>
      <br>
      <p style="font-size: 20px;">Title: {{data.title}}</p>
      <br>

      <br>
      <p>{{data.content | safe }}.</p>
{% comment %} modal  {% endcomment %}

<!-- Button trigger modal -->

    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Generated Link </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                <textarea id="url" class ="form-control" rows="1" cols="30">{{ request.build_absolute_uri }}</textarea>
          </div>
          <div class="modal-footer">
            <button onclick="Copy();" class="btn btn-secondary" data-dismiss="modal">Copy</button>
          </div>
        </div>
      </div>
    </div>

      <div>
       
       
          </div>

          <p></p>
      <hr>

      {% comment %} modal ends {% endcomment %}
    {% include 'comments.html' %}

{% endblock body %}


{% block script %}
<script>
function Copy() {
      var Url = document.getElementById("url");
      Url.innerHTML = window.location.href;
      console.log(Url.innerHTML)
      Url.select();
      document.execCommand("copy");
    }
</script>

{% endblock script %}