{% extends 'base.html' %}

{% block title %}
home
{% endblock title %}

{% block style %}
<style>
    .cntainer {
      position: relative;
      width: 30%;
      display: inline-block;
      margin:15px;
    }
    
    .image {
      display: block;
      width: 350px;
      height: 350px;
      opacity: 1;
    }
    
    .overlay {
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      background-color: #008CBA;
      overflow: hidden;
      width: 100%;
      height:0;
      transition: .5s ease;
      opacity: 0.7;
    }
    
    .cntainer:hover .overlay {
      bottom: 0;
      height: 100%;
    }
    a{
        color: #ffffff;
    }

    .text {
      color: white;
      font-size: 20px;
      position: absolute;
      top:30%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
      padding: 10px;
    }
    </style>
    {% endblock style %}


{% block body %}

{% comment %} <div class="container my-4"> {% endcomment %}
    {% for i in cat %}

    <div class="cntainer">
        <img src="{{ i.Thumbnail.url }}" alt="Avatar" class="image">
        <div class="overlay">
          <div class="text">   {{ i.name }}</div>
          <br><br>
          <div class="text" style="margin-top: 125px;">
              <a href="/Category/{{i.id}}" >{{i.name}} Section</a>

              <br><br>
    
         <p style="">
              {{i.description | truncatechars:70 }}
         </p>

          </div>
        </div>
      </div>
    {% endfor %}
  {% comment %} </div> {% endcomment %}
{% endblock body %}


{% comment %} 
{% block  script %}
<script>
</script>
{% endblock  script %} {% endcomment %}
