<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="/">AspirantTalk</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
        </li>
          <li class="nav-item active">
            <a class="nav-link" href="/">Jobs<span class="sr-only">(current)</span></a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Link</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add Items
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/addBlog">Add Blogs</a>
            <a class="dropdown-item" href="/addCategory">Add a Category</a>
            <a class="dropdown-item" href="/addSubCategory">Add a SubCategory</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/addAuser">Add a User</a>
          </div>
        </li>
        {% endif %}
        
      </ul>

      {% if user.is_authenticated %}
      <li class="nav-link dropdown">
        <a class="nav-button dropdown-toggle" href="/" style="color: #efefef; text-decoration:revert;" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Hello {{ request.user }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/Managers">Admin Panel</a>
          <a class="dropdown-item" href="/logout">Logout</a>
        </div>
      </li>
      {% else %}
      <a class="nav-button" style="color: #efefef;" href="/login/">Login<span class="sr-only">(current)</span></a>
      {% endif %}
     

    </div>
  </nav>