{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block head %}{{form.media}}{% endblock head %}




{% block body %}
<div class="container">
<h2>{{page_heading}}</h2>
<form method = "post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{ form | crispy}}
    <tr>
        <td>
            <input type="submit">
        </td>
        <td>
            <input type="reset">
        </td>
    </tr>
    </table>
</form>
</div>
{% endblock body %}


{% block script %}
{% comment %} document.getElementsByClassName('fill-current')[0].style.display = 'none';
document.getElementsByClassName('fill-current')[1].style.display = 'none'; {% endcomment %}
<script>
    var k = document.getElementsByTagName('select').length
    for(var i = 0; i<k;i++)
    {
        document.getElementsByTagName('select')[i].classList.add('form-control')
    }
</script>
{% endblock script %}
